
@{
    ViewData["Title"] = "Grouping";
}

<h1>Grouping</h1>


<div class="row mt-3">
    <div class="col-12">
        <form asp-controller="Employees" asp-action="Grouping" method="post">
            <button class="btn btn-primary" type="submit" name="groupby" value="gender">Group by Gender</button>
            <button class="btn btn-primary" type="submit" name="groupby" value="year-month">Group by Joining year/month</button>

        </form>
    </div>
</div>

